__pycache__/
*.py[cod]
*$py.class

venv/
env/
ENV/
.venv/
.ENV/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

logs/
*.log

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
pytest_cache/

.mypy_cache/

*.prof

dist/
build/
*.spec

.vscode/
.idea/
*.iml

Pipfile
Pipfile.lock
poetry.lock

docker-compose.override.yml

instance/

*.sqlite3
*.db

*.pem
*.key
.env
.env.local
.env.*.local
